<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.consumer.dao.UserDao">
    <sql id="user">
        id,nick_name,country,city,gender,open_id,car_num
    </sql>
    <select id="getOneById" resultType="com.bishe.consumer.entity.User">
        SELECT
        <include refid="user"></include>
        FROM USER
        WHERE id=#{id}
    </select>

    <select id="getOneByOpenId" resultType="com.bishe.consumer.entity.User">
        SELECT
        <include refid="user"></include>
        FROM USER
        WHERE open_id=#{openId}
    </select>

    <select id="isBinding" resultType="java.lang.String">
        SELECT
        car_num
        FROM USER
        WHERE open_id=#{openId} AND
        car_num != 'NOCAR'
    </select>

    <select id="getOneByNickName" resultType="com.bishe.consumer.entity.User">
        SELECT
        <include refid="user"></include>
        FROM USER
        WHERE nick_name=#{nickName}
    </select>

    <delete id="deleteOne">
        DELETE FROM USER WHERE id=#{id}
    </delete>

    <delete id="deleteOneByOpenId">
        DELETE FROM USER WHERE open_id=#{openId}
    </delete>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO USER(id,nick_name,country,city,gender,open_id)
        VALUES (#{user.id},#{user.nickName},#{user.country},#{user.city},#{user.gender},#{user.openId})
    </insert>


    <update id="update">
        UPDATE User
        <set>
            <if test="user.nickName != null">nick_name=#{user.nickName},</if>
            <if test="user.country != null">country=#{user.country},</if>
            <if test="user.city != null">city=#{user.city}</if>
            <if test="user.carNum != null">car_num=#{user.carNum}</if>
        </set>
        WHERE open_id=#{user.openId}
    </update>

</mapper>