<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bishe.hunter.dao.CarDao">
    <select id="getOne" resultType="com.bishe.hunter.entity.Car">
        SELECT *
        FROM Car
        WHERE car_num=#{carNum}
    </select>

    <select id="count"  resultType="int">
        SELECT count(*)
        FROM Car
        WHERE car_num =#{carNum} AND user_id = #{userId} AND car_status = #{status}
    </select>

    <delete id="delOne">
        DELETE FROM Car WHERE car_num=#{carNum}
    </delete>


    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Car(id,car_num,password,car_status,user_id)
        VALUES (#{car.id},#{car.carNum},#{car.password},#{car.status},#{car.userId})
    </insert>


    <update id="update">
        UPDATE Car
        <set>
            <if test="car.carStatus != null">car_status=#{car.carStatus},</if>
            <if test="car.userId != null">user_id=#{car.userId}</if>
        </set>
        WHERE car_num=#{car.carNum}
    </update>


    <select id="getAllCar"  resultType="com.bishe.hunter.entity.Car">
        SELECT *
        FROM Car
        ORDER BY id
    </select>

</mapper>