body{
    background-image: url("../../static/image/timg.jpg");
    background-repeat: no-repeat;
}

/*.first{*/
    /*!*background-image: url("../../static/image/timg.jpg");*!*/
    /*width: 100%;*/
    /*height: auto;*/
    /*position: absolute;*/
    /*background-repeat: no-repeat;*/

/*}*/

.inner{
    width: 100%;
    height: 680px;
}